---
layout: default
---
<div class="post">
<!--
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
--->
  <article>
    
    <div class="clearfix">{{ content }}</div>
    
 <!--   
 <img src="../assets/img/webpage_logo.png" alt="drawing" width="400"/>

    <img src="../assets/img/uhf_concept.png" alt="drawing" width="400"/>
  --->  
    <div class="Lab_summary" style="text-align: center">
      <h1> Medical Robotic Systems Lab</h1>
      
      <p> We develop next generation of medical robotics systems focusing on novel actuation and sensing methods.</p>
      <br line-height="75%">  
      <a href="/Projects/">Learn More</a>
    </div>
    
    <br line-height="100%">  

    <hr>

    <div class="Hiring" style="text-align: center">

      <h1> Looking for Teammates!</h1>
      <p>We are continuously looking for talented Master's, Doctoral students, and Postdoctoral researchers, as well as motivated undergraduate researchers/interns. </p>
      <br line-height="75%">  
      <a href="/Opportunities/index.html">Opportunities</a>


    </div>

    <br line-height="100%">  
    <hr>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
    <div class="News" style="text-align: center">
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    </div>
    {% endif %}


    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
